<div class="z-10 relative">
  <div class="isolate px-6 pt-14 lg:px-8">
    <div *ngIf="course" class="relative overflow-auto py-10 sm:py-15 mx-auto max-w-7xl px-6 lg:px-8">
      <div *ngIf="isQuiz; then quizBlock else courseBlock"></div>
      <ng-template #courseBlock>
        <div class="font-sans text-white text-sm font-bold leading-6 py-8">
          <h1 class="font-sans text-black text-4xl">{{ course.title }}</h1>
          <p class="text-black my-2">{{ course.description }}
        </div>
        <div class="flex flex-row space-x-4 font-sans text-white text-sm font-bold leading-6 justify-between">
          <div class="w-full h-full rounded-xl flex sm:flex-row flex-col">
            <div class="w-full sm:pr-8 sm:w-1/2">
              <vg-player class="rounded-lg">
                <video
                  *ngIf="course.lessons" controls autoplay [muted]="true"
                  [vgHls]=activeLesson.link
                  (ended)="playNextLesson()"
                  (timeupdate)="saveProgressToLocalStorage(course.id, $event)"
                  [currentTime]="progressTime"
                  preload="auto"
                  poster="{{ activeLesson.previewImageLink }}/lesson-{{ activeLesson.order }}.webp">
                </video>
              </vg-player>
            </div>
            <div class="w-full sm:w-1/2">
              <div class="flex flex-row justify-between text-black py-4">
                <div>{{ lessons.length }} lessons</div>
                <div>Total duration: {{ course.duration * 1000 | date:'mm:ss' }}</div>
              </div>
              <ul class="overflow-scroll mb-8 space-y-4 text-left text-gray-500 dark:text-gray-400 max-h-72">
                <div class="text-black"
                     *ngFor="let lesson of course.lessons; let $index = index"
                     (click)="onClickLessonsVideo(lesson, $index)"
                     [ngClass]="lesson.status == 'unlocked' ? 'text-black-400' : 'text-gray-400 pointer-events-none cursor-not-allowed'">
                  <li [class.bg-gray-100]="lesson === activeLesson"
                      class="border-gray-300 border p-4 space-x-2 rounded-xl cursor-pointer hover:bg-gray-100 transition">
                    <div class="flex flex-row justify-between" [class.text-emerald-600]="lesson === activeLesson">
                      <div>
                        <span>Lesson {{ lesson.order }} - </span>
                        <span>{{ lesson.title }} </span>
                      </div>
                      <div>
                        <span>{{ lesson.duration * 1000 | date:'mm:ss' }}</span>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex flex-row justify-between text-base border-b-2 border-gray-300 pt-8 pb-4 mt-8">
          <div class="text-2xl font-bold">About Course</div>
          <div class="flex flex-row space-x-2">
            <div class="rounded-xl text-base border border-gray-200 p-2 bg-amber-400">
              {{course.tags[0]}}
            </div>
            <div class="rounded-xl border border-gray-200 p-2">
              <div class="flex flex-row justify-between items-center">
                <span class="pr-1">{{course.rating}}</span>
                <svg aria-hidden="true" class="w-3 h-3 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="text-base">
          <div class="py-4">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and scrambled it
            to make a type specimen book. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
            looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
            classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
            Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
            the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </div>
          <div class="py-4">
            <ul class="mb-8 space-y-4 text-left">
              <p>Skills: </p>
              <li class="flex items-center space-x-1" *ngFor="let skill of course.meta.skills">
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span>{{ skill }}</span>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </div>


    <ng-template #quizBlock>
      <div>
        <main class="grid min-h-full place-items-center py-24 px-6 sm:py-32 lg:px-8">
          <div class="text-center">
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">{{ course.title }}</h1>
            <p class="mt-6 text-xl leading-7 text-gray-600">This course contains quiz functionality which is under development</p>
            <p class="mt-6 text-xl leading-7 text-gray-600">It will be available soon, come back later!</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a href="/"
                 class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Back</a>
            </div>
          </div>
        </main>
      </div>
    </ng-template>
  </div>
</div>
